@import "../../index.scss";

.quiz__buttons {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
}

.quiz__flag {
	width: 80%;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 10px;
	outline: 1px solid transparentize($primary-color, 0.85);
}

.quiz__card {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding-bottom: 6rem;
}

.quiz__heading {
	color: transparentize($primary-color, 0.3);
	text-align: center;
}

.quiz__header {
	font-size: 2.5rem;
}

.quiz__subheader {
	color: transparentize($color: $primary-color, $amount: 0.4);
}
