@use "../../variables.scss" as *;

.quiz__buttons {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;

	@media only screen and (min-width: 500px) {
		width: 80%;
	}
}

.quiz__flag {
	width: 80%;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 10px;
	outline: 1px solid transparentize($primary-color, 0.85);
}

.quiz__card {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding-bottom: 6rem;
}

.quiz__heading {
	color: transparentize($primary-color, 0.3);
	text-align: center;
}

.quiz__header {
	font-size: 2.5rem;
}

.quiz__subheader {
	color: transparentize($color: $primary-color, $amount: 0.4);
}

.quiz__nav {
	// outline: 1px solid red;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem 20px;
	padding-top: 2rem;
	width: 100%;
	max-width: calc(500px + 40px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}

.quiz__nav > .button {
	flex-grow: 1;
	flex-basis: 50%;
}

.quiz__answer {
	border: 2px solid transparentize($color: $primary-color, $amount: 0.8);
	border-radius: 10px;
	padding: 1rem 1.6rem;
}

.correct.button {
	border-color: #53d747;

	&::before {
		transform: scale(1);
		background-color: #7ae070;
	}
}

.incorrect.button {
	border-color: #e23c3c;

	&::before {
		transform: scale(1);
		background-color: #e86868;
	}
}

div.answers__hidden {
	transition: max-height 0.3s ease 0.3s, transform 0.3s ease, opacity 0.2s ease;
	transform: translateX(-100%);
	opacity: 0;
	max-height: 0px;
	z-index: -1;
}
.answers {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transform: translateX(0);
	opacity: 1;
	max-height: 1000px;
	transition: max-height 0.3s ease, transform 0.3s ease 0.3s,
		opacity 0.2s ease 0.3s;
	overflow: hidden;
	z-index: -1;
}
