.toggle {
	position: relative;
	background-color: var(--primary-color);
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	line-height: 2rem;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	display: flex;
	justify-content: center;

	& > .icon {
		color: white;
		pointer-events: none;
		font-size: 1.3rem;
		display: block;
		position: absolute;

		transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
		transform: rotate(360deg);
		opacity: 0;

		&.active {
			transform: rotate(0deg);
			opacity: 1;
		}

		&::selection {
			background-color: transparent;
		}
	}
}
